/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgb(2, 2, 6); color: white; }

body::before {
 content: '';
 position: fixed;
 height: 200px;
 width: 200px;
 background: rgb(0, 255, 255);
 filter: blur(140px);
}

body::after {
 content: '';
 position: fixed;
 top: 200px;
 left: 250px;
 height: 200px;
 width: 200px;
 background: rgb(183, 0, 255);
 filter: blur(140px);
}

.bg-circle1 {
 position: fixed;
 top: 0px;
 right: 0px;
 height: 200px;
 width: 200px;
 background: rgb(0, 255, 255);
 filter: blur(140px);
}

.bg-circle2 {
 position: fixed;
 top: 100px;
 right: 250px;
 height: 200px;
 width: 200px;
 background: rgb(183, 0, 255);
 filter: blur(150px);
}
